img {
    width: 100%;
}

.content {
    margin: 30px 70px 30px 30px;
}

.inputPhoto {
    display: none;
}

.labelAvatar {
    position: relative;
}

.authAvatarContainer {
    width: 80%;
}

.tab {
    margin-top: 20px;
}

