.container {
    margin-top: 20px;
}

.description {
    margin-left: 30px;
    margin-top: 10px;
    overflow-wrap: break-word;
}

.title {
    font-weight: bold !important;
}

.infoItem {
    margin-top: 20px;
    padding: 20px;
}

.contacts {
    display: flex;
}

.gitHubIcon {
    color: black;
}

.twitterIcon {
    color: #1DA1F2;
}

.editButton {
    text-align: right;
}