.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogs_items {
    padding: 10px;
}

.dialog {

}

.messages {
    padding: 10px;
}

.message {

}

.massageInputContainer {
    margin-top: 30px;
}

.messageButton {
    margin-top: 20px;
    display: flex;
    flex-direction: row-reverse;

}